
.UserDetail{
    background-color: white;
    padding: 15px 30px;
    // margin:15px 30px;
    .fa-save{
        padding-right: 7px;
    }
    .fa-mail-reply{
        padding-right: 7px;
    }
    .fa-exchange{
        padding-right: 7px;
    }
    .image{
        background-color: gainsboro; 
        padding: 7em;
        .kdaob{
            text-align: center;
            .topicon{
                font-size: 7em;
                vertical-align: 0;
                line-height: 1em;
                color: dimgray;
            }
            .des{
                margin: 10px 20px;
                color:dimgray;
            }
            .upload{
                display: flex;
                text-align: center;
                justify-content:center;
                .icon{
                    display: block;
                    margin: 0 10px;
                    height: 60px;
                    width: 60px;
                    border-radius:50%; 
                    // padding: 1em;
                }
            }
        }
    }
    .button{
        .btn{
            margin-top: 35px;
            padding: 0.5rem 1rem;
            color: #fff;
            font-size: 1rem;
            &:hover{
                color: #fff;
            }
        }
    }
}
.listStaff{
    background-color: white;    
    padding: 15px 30px;
    // margin:15px 30px;
    .btn-bar{
        background: mediumseagreen;
        padding: .5rem;
        button{
            background: mediumseagreen;
            border: none;
            box-shadow: none;
        }
    }
    .modal{
        .modal-dialog{
            .modal-content{
                .modal-body{
                    .tab-content{
                        .tab-pane{
                            .upload-img{
                                .cloud{
                                    .fa-cloud-download{
                                        font-size: 125px;
                                        color: silver;
                                    }
                                }
                                .text-under{
                                    .big-text{
                                        font-size: 25px;
                                        color: grey;
                                    }
                                }
                                p{
                                    color: silver;
                                }
                                .btn-group{
                                    .btn{
                                        width: 50px;
                                        height: 50px;
                                        border-radius: 50%;
                                    }
                                    .btn-primary{
                                        margin: 0 30px;                                   }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .headlabel{
        padding: 30px 15px;
    }
}
.productDetail{
    background-color: white;
        padding: 15px  30px;
        // margin:15px 30px;
    .fa-save{
        padding-right: 7px;
    }
    .fa-mail-reply{
        padding-right: 7px;
    }
    .fa-download{
        cursor: pointer;
        margin-left: 15rem;
    }
    .fa-upload{
        cursor: pointer;
        margin-left: 1rem;
    }
    .topContent{
        padding: 15px 0px;
        .form{
            .icon-text{
                display: flex;
                .icon{
                    margin: 10px;
                }
            }

        }
        .image{
        background-color: gainsboro; 
        width: 100%;
        // margin: auto;
        justify-content: center;
        // padding: 2em;
        .kdaob{
            text-align: center;
            .topicon{
                font-size: 7em;
                // vertical-align: 0;
                line-height: 1em;
                color: dimgray;
            }
            .des{
                margin: 10px 20px;
                color:dimgray;
            }
            .upload{
                display: flex;
                text-align: center;
                justify-content: center;
                .icon{
                    display: block;
                    margin:0 10px;
                    border-radius:50%; 
                    // padding: 1em;
                    height: 60px;
                    width:60px;
                }
            }
        }
    }
    }
    .middleContent{
        padding: 15px 0px;
        .btn-bar{
            background: mediumseagreen;
            padding: .5rem;
            button{
                background: mediumseagreen !important;
                border: none;
                box-shadow: none;
            }
        }
        #categories{
            select{
                margin-top: 40px;
                &:first-child{
                    margin-top: 15px;
                }
                &:last-child{
                    margin-bottom: 10px;
                }
            }
        }
        .inlinehead{ 
            display: flex;
            .btn-camera{ 
                color: black;
                border-radius: 50%;
                font-size: 1em;
                width: 3rem;
                height: 3rem;
                margin-left: 1em;
                a{
                    position: relative;
                    top: -2px;
                }
            }
        }
        .media-tab{
            display: flex;
            margin-top: 50px;
            .img1{
                height: 160px;
                width: 100%;
                margin-right: 35px;
                .img-box{
                    background: grey;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    .icon{
                        display: grid;
                        padding-top: 20%;
                        .icon-camera{
                            font-size: 30px;
                            color: silver;
                        }
                        label{
                            color: silver;
                        }
                    }
                }
            }
            .img2{
                height: 160px;
                width: 100%;
                margin-right: 35px;
                .img-box{
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    background:grey;
                    img{
                        max-width: 100%;
                        height: 100%;
                    }
                }
            }
            .img3{
                height: 155px;
                width: 100%;
                margin-right: 10px;
                .img-box{
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    background:grey;
                    img{
                        max-width: 100%;
                        height: 100%;
                    }
                }
            }
         }
    }
//CSS Button
    .button{
        .btn{
            margin-top: 15px;
            padding: 0.5rem 2rem;
            color: #fff;
            font-size: 1rem;
            &:hover{
                color: #fff;
            }
        }
    }
}
